   h1 {
        text-align: center;
        color: #343a40;
    }

    table {
        border-collapse: 20px solid rgb(0, 0, 0);
        margin: 20px auto;
        background-color: #fff;
        border: 2px solid #dee2e6;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    th,
    timetable {
        border: 1 px solid green;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color:purple;
        color: darkblue;
    }

    .highlight {
        background-color:brown;
    }

    .special {
        background-color:yellowgreen;
    }
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;

}
